@model WebApplication1.Models.Item
@{
    var items = new List<string?> { "Item1", "Item2", "Item3" };
    var isLoggedIn = false;

    // On submit, the form will post to the Submit action in the Items controller
    // The form will post the value of the Name input field
    // once the name is established, the variable 'isLoggedIn' will be set to true
    if (@Model.Name == "Mouse")
    {
        isLoggedIn = true;
    }
}
<h1>Overview</h1>
@if (isLoggedIn)
{
    <p>You are logged in</p>
}
else
{
    <p>You are not logged in</p>
}
<p>This is the name of the item @Model.Name</p>
<ul>
    @foreach (var item in items)
    {
        <li>@item</li>
    }
</ul>
<form method="post" asp-action="Submit">
    <input type="text" asp-for="Name" />
    <button type="submit">Submit</button>
</form>
